build
console-build
ssl
dataScripts/src/mapsToObj/gen
public
.vscode
src/services/SeedInfo/noita_random/*.js
src/services/SeedInfo/infoHandler/InfoProviders/*/*.mjs
src/services/SeedInfo/infoHandler/InfoProviders/*/*.d.ts
