.container {
  padding: 16px;
}

html, .App, #root {
  height: 100%;
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
