name: Docker Build and Push

on:
  push:
    branches:
      - master
      - develop

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tag based on branch
        run: echo "IMAGE_TAG=$(if [ "${{ github.ref }}" = "refs/heads/master" ]; then echo 'latest'; else echo 'latest-dev'; fi)" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./console.Dockerfile
          push: true
          tags: ghcr.io/twoabove/noitool-console-search:${{ env.IMAGE_TAG }}
          platforms: linux/amd64,linux/arm64
